<div class="min-h-screen bg-white relative">
  <div class="pb-40 md:pb-24">
    <%= render partial: "common/header" %>
    <main>
      <%= render layout: "common/gradient_with_fingerprints" do %>
        <h1 class="text-3xl font-thin md:text-5xl">Employer Portal Login</h1>
        <hr class="mt-4 mb-6 border-t-2 border-white">
        <div class="text-xl md:text-3xl">Welcome to the Health Passport Employer Portal!</div>
        <div class="text-xl font-thin md:text-3xl">Getting your team back to business the better way.</div>
      <% end %>
      <div class="container mx-auto px-4">
        <%= form_for :session do |f| %>
          <%= f.hidden_field :return_path %>
          <%= f.label :username %>
          <%= f.text_field :username %>
          <%= f.label :password %>
          <%= f.password_field :password %>
          <button type="submit">Test</button>
        <% end %>
      </div>
    </main>
  </div>
  <%= render partial: "common/footer" %>
</div>
