<% if !editor.active? %>
  <div class="my-10">
    <%= link_to(reactivate_employee_path(editor), method: :patch, class: "#{primary_button_class(:red)} flex items-center justify-center") do %>
      Reactivate
    <% end %>
  </div>
<% else %>
  <div class="grid gap-10 my-10 md:grid-cols-3">
    <% if editor.daily_checkup_need_contact? %>
      <% if editor.already_contacted? %>
        <div class="text-gray-400 flex items-center justify-center text-center font-medium">
          Contact sent on<br>
          <%= editor.last_contacted_at %>
        </div>
      <% elsif request.referrer.include?("contact") %>
        <div class="text-gray-400 flex items-center justify-center text-center font-medium">
          Contact enqueued
        </div>
      <% else %>
        <%= link_to(contact_employee_path(editor), method: :patch, class: "#{primary_button_class(:blue)} flex items-center justify-center") do %>
          <%= render "icon/envelope", icon_class: "h-5 w-5 mr-3" %>
          Contact
        <% end %>
      <% end %>
    <% else %>
      <div class="text-gray-400 flex items-center justify-center text-center font-medium">
        Contact not needed
      </div>
    <% end %>
    <% if editor.daily_checkup_need_reminder? %>
      <% if editor.already_sent_reminder? %>
        <div class="text-gray-400 flex items-center justify-center text-center font-medium">
          Reminder sent on<br>
          <%= editor.last_sent_reminder_at %>
        </div>
      <% elsif request.referrer.include?("send_reminder") %>
        <div class="text-gray-400 flex items-center justify-center text-center font-medium">
          Reminder enqueued
        </div>
      <% else %>
        <%= link_to(send_reminder_employee_path(editor), method: :patch, class: "#{primary_button_class(:blue)} flex items-center justify-center") do %>
          <%= render "icon/date_add", icon_class: "h-5 w-5 mr-3" %>
          Send Reminder
        <% end %>
      <% end %>
    <% else %>
      <div class="text-gray-400 flex items-center justify-center text-center font-medium">
        Reminder not needed
      </div>
    <% end %>
    <%= link_to(employee_path(editor), method: :delete, class: "#{primary_button_class(:gray)} flex items-center justify-center") do %>
      Deactivate
    <% end %>
  </div>
<% end %>
