<% color_palette = ::EmployerPortal::ColorPalette.new current_context.company %>
<div id="charts" class="-mx-4 text-xs lg:mx-0 lg:flex lg:my-4 xl:my-6 xl:text-sm" data-turbolinks-permanent>
  <% if current_context.daily_checkup_enabled? %>
    <div class="p-4 border-b border-blue-500 lg:border-none lg:shadow lg:p-2 lg:flex-1 lg:mr-2 xl:mr-4 xl:p-4">
      <h3 class="font-semibold text-xl">Overview Symptoms</h3>
      <div>
        <% if stats.daily_checkup_limited? %>
          <strong>Your Plan: <%= stats.daily_checkup_available_count %> of <%= stats.daily_checkup_allowed_count %></strong>
          available entries
          <%= link_to plans_path, title: "You have a limited number of employee entries. Deactivated employees still count towards available entries." do %>
            <%= render "icon/information_solid", icon_class: "inline-block ml-1 text-blue-500 h-3 w-3" %>
          <% end %>
        <% else %>
          <strong>Your Plan:</strong>
          billed by invoice
        <% end %>
      </div>
      <div class="md:flex">
        <%= render "chart/widget", color: color_palette.current_value("chart-cleared"), count: stats.no_symptoms_count, total: stats.total, label: "No Symptoms" %>
        <%= render "chart/widget", color: color_palette.current_value("chart-not-cleared"), count: stats.symptoms_count, total: stats.total, label: "Symptoms" %>
        <%= render "chart/widget", color: color_palette.current_value("chart-pending"), count: stats.did_not_submit_count, total: stats.total, label: "Did Not Submit" %>
      </div>
    </div>
  <% else %>
    <div class="bg-gray-100 text-gray-600 p-4 border-b border-blue-500 pointer-events-none select-none lg:border-none lg:shadow lg:p-2 lg:flex-1 lg:ml-2 xl:ml-4 xl:p-4">
      <h3 class="font-semibold text-xl">Overview Symptoms</h3>
      <div class="italic"><%= current_context.disabled_feature_message %></div>
      <div class="md:flex">
        <%= render "chart/widget", color: color_palette.current_value("chart-disabled"), count: 20, total: 100, label: "No Symptoms" %>
        <%= render "chart/widget", color: color_palette.current_value("chart-disabled"), count: 50, total: 100, label: "Symptoms" %>
        <%= render "chart/widget", color: color_palette.current_value("chart-disabled"), count: 30, total: 100, label: "Did Not Submit" %>
      </div>
    </div>
  <% end %>
  <% if current_context.testing_enabled? %>
    <div class="p-4 border-b border-blue-500 lg:border-none lg:shadow lg:p-2 lg:flex-1 lg:ml-2 xl:ml-4 xl:p-4">
      <h3 class="font-semibold text-xl">Overview Testing Status</h3>
      <div>
        <% if stats.testing_limited? %>
          <strong>Your Plan: <%= stats.testing_available_count %> of <%= stats.testing_allowed_count %></strong>
          available entries
          <a title="You have a limited number of employee entries. Deactivated employees still count towards available entries.">
            <%= render "icon/information_solid", icon_class: "inline-block ml-1 text-blue-500 h-3 w-3" %>
          </a>
        <% else %>
          <strong>Your Plan:</strong>
          billed by invoice
        <% end %>
      </div>
      <div class="md:flex">
        <%= render "chart/widget", color: color_palette.current_value("chart-cleared"), count: stats.cleared_count, total: stats.total, label: "Cleared" %>
        <%= render "chart/widget", color: color_palette.current_value("chart-not-cleared"), count: stats.inconclusive_count, total: stats.total, label: "Inconclusive" %>
        <%= render "chart/widget", color: color_palette.current_value("chart-pending"), count: stats.in_progress_count, total: stats.total, label: "In Progress" %>
      </div>
    </div>
  <% else %>
    <div class="bg-gray-100 text-gray-600 p-4 border-b border-blue-500 pointer-events-none select-none lg:border-none lg:shadow lg:p-2 lg:flex-1 lg:ml-2 xl:ml-4 xl:p-4">
      <h3 class="font-semibold text-xl">Overview Testing Status</h3>
      <div class="italic"><%= current_context.disabled_feature_message %></div>
      <div class="md:flex">
        <%= render "chart/widget", color: color_palette.current_value("chart-disabled"), count: 20, total: 100, label: "Cleared" %>
        <%= render "chart/widget", color: color_palette.current_value("chart-disabled"), count: 50, total: 100, label: "Inconclusive" %>
        <%= render "chart/widget", color: color_palette.current_value("chart-disabled"), count: 30, total: 100, label: "In Progress" %>
      </div>
    </div>
  <% end %>
</div>
