<%= render "common/gradient_with_fingerprints" do %>
  <h1 class="text-xl font-semibold py-1 leading-none tracking-wide md:text-3xl"><%= current_context.first_name %>'s Dashboard</h1>
<% end %>
<div class="container mx-auto px-4">
  <%= render "employees/charts" %>
  <div class="flex flex-col items-start mt-4 -mx-2 md:flex-row md:justify-end">
    <%= link_to({ action: :new }, class: "#{secondary_button_class(:blue)} flex items-center mb-4 mx-2") do %>
      <%= render "icon/add_outline", icon_class: "h-3 w-3 mr-2" %>
      <span>Add New</span>
    <% end %>
    <%= link_to({ action: :bulk_import }, class: "#{secondary_button_class(:blue)} flex items-center mb-4 mx-2") do %>
      <%= render "icon/add_outline", icon_class: "h-3 w-3 mr-2" %>
      <span>Bulk Upload</span>
    <% end %>
    <%= link_to({ action: :delete_all }, method: :delete, class: "#{secondary_button_class(:red)} flex items-center mb-4 mx-2") do %>
      <%= render "icon/close_outline", icon_class: "h-3 w-3 mr-2" %>
      <span>Delete all</span>
    <% end %>
  </div>
  <%= render "employees/employees", search: search %>
</div>
