<%= render "common/gradient_with_fingerprints" do %>
  <h1 class="text-xl font-semibold py-1 leading-none tracking-wide md:text-3xl"><%= current_context.account.first_name %>'s Dashboard</h1>
<% end %>
<div class="container mx-auto px-4">
  <%= render "employees/charts" %>
  <div class="flex flex-col items-start mt-4 -mx-2 md:flex-row md:justify-end">
    <%= link_to({ action: :new }, class: "#{secondary_button_class(:blue)} flex items-center mb-4 mx-2") do %>
      <%= render "icon/add_outline", icon_class: "h-3 w-3 mr-2" %>
      <span>Add New</span>
    <% end %>
    <%= link_to({ action: :bulk_import }, class: "#{secondary_button_class(:blue)} flex items-center mb-4 mx-2") do %>
      <%= render "icon/add_outline", icon_class: "h-3 w-3 mr-2" %>
      <span>Bulk Upload</span>
    <% end %>
    <%= link_to({ action: :delete_all }, method: :delete, class: "#{secondary_button_class(:red)} flex items-center mb-4 mx-2") do %>
      <%= render "icon/close_outline", icon_class: "h-3 w-3 mr-2" %>
      <span>Delete all</span>
    <% end %>
  </div>
  <table class="table-fixed w-full mb-10 md:table-auto">
    <thead class="text-left text-xs">
      <tr>
        <th class="w-8 hidden lg:table-cell"></th>
        <th class="w-8"></th>
        <th class="w-10 hidden md:table-cell"></th>
        <th class="px-2 py-4 font-medium">Employee Name</th>
        <th class="px-2 py-4 font-medium hidden lg:table-cell">State</th>
        <th class="px-2 py-4 hidden md:table-cell"">Daily Checkup</th>
        <th class="px-2 py-4 font-medium hidden lg:table-cell">Last Updated</th>
        <th class="px-2 py-4 hidden lg:table-cell"></th>
        <th class="w-1 whitespace-no-wrap pl-2 py-4 hidden md:table-cell">Testing Status</th>
        <th class="px-2 py-4 font-medium hidden lg:table-cell">Last Updated</th>
        <th class="pr-2 py-4 font-medium"><%== render partial: "common/pagination", locals: {pagy: @pagy} %></th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
        <%= render "employees/employee", employee: employee %>
      <% end %>
    </tbody>
  </table>
</div>
