<%= render "common/gradient_with_fingerprints" do %>
  <h1 class="text-xl font-semibold py-1 leading-none tracking-wide md:text-3xl">Employee Details</h1>
<% end %>
<div class="container mx-auto px-4">
  <div class="-mx-4 mb-4 md:mb-8 xl:my-4 xl:flex">
    <% if current_context.daily_checkup_enabled? %>
      <%= render "symptom_tracker/widget", search: editor.symptom_log_search %>
    <% else %>
      <%= render "symptom_tracker/widget_disabled" %>
    <% end %>
    <% if current_context.testing_enabled? %>
      <%= render "testing_progress/widget", health_passport: editor.health_passport %>
    <% else %>
      <%= render "testing_progress/widget_disabled" %>
    <% end %>
  </div>
  <div id="employee-edit" data-turbolinks-permanent>
    <h2 class="text-3xl font-thin mt-4">
      Review, edit or deactivate an employee's account
    </h2>
    <p class="text-sm font-medium mb-10">A deactivated employee will still be saved in the system for reference or available if you need to reactivate the account.</p>
    <%= render "employees/form", editor: editor %>
  </div>
</div>
