<tr class="border-t align-middle">
  <td class="w-8 lg:px-2">
    <% if employee.flagged? %>
      <%= render "icon/exclamation_solid", icon_class: "h-4 w-4 text-orange-500 mx-auto" %>
    <% end %>
  </td>
  <td class="w-10 hidden md:table-cell">
    <% if employee.selfie_url %>
      <img src="<%= employee.selfie_url %>" class="rounded-full h-10 w-10 object-cover"/>
    <% else %>
      <div class="bg-gray-300 rounded-full h-10 w-10 flex items-center justify-center">
        <%= employee.initials %>
      </div>
    <% end %>
  </td>
  <td class="px-2 py-4 truncate">
    <div class="lg:hidden"><%= employee.full_name %></div>
    <%= link_to employee.full_name, { action: :edit, id: employee }, class: "hidden underline hover:text-blue-500 lg:block" %>
  </td>
  <td class="px-2 py-4 hidden lg:table-cell">
    <%= employee.state %>
  </td>
  <% if current_context.daily_checkup_enabled? %>
    <td class="px-2 hidden md:table-cell <%= daily_checkup_color(employee) %>">
      <%= employee.daily_checkup_status %>
    </td>
    <td class="px-2 py-4 hidden lg:table-cell"><%= employee.daily_checkup_updated_at.strftime("%F") %></td>
    <td class="px-2 py-4 hidden xl:table-cell"><%= employee.daily_checkup_action %></td>
  <% else %>
    <td class="px-2 hidden text-gray-600 pointer-events-none select-none md:table-cell">
      Did Not Submit
    </td>
    <td class="px-2 py-4 text-gray-600 pointer-events-none select-none hidden lg:table-cell">N/A</td>
    <td class="px-2 py-4 text-gray-600 pointer-events-none select-none hidden xl:table-cell"></td>
  <% end %>
  <% if current_context.testing_enabled? %>
    <td class="px-2 hidden md:table-cell <%= testing_color(employee) %>">
      <%= employee.testing_status %>
    </td>
    <td class="px-2 py-4 hidden lg:table-cell"><%= employee.testing_updated_at.strftime("%F") %></td>
    <td class="px-2 py-4 hidden xl:table-cell"></td>
  <% else %>
    <td class="px-2 hidden text-gray-600 pointer-events-none select-none md:table-cell">
      Not Registered
    </td>
    <td class="px-2 py-4 text-gray-600 pointer-events-none select-none hidden lg:table-cell">N/A</td>
    <td class="px-2 py-4 text-gray-600 pointer-events-none select-none hidden xl:table-cell"></td>
  <% end %>
  <td>
    <%= link_to({ action: :edit, id: employee }, class: "block text-gray-300 ml-auto mr-2 h-8 w-8 p-2 hover:text-blue-500") do %>
      <%= render "icon/edit_pencil", icon_class: "pointer-events-none" %>
    <% end %>
  </td>
</tr>
