<%= link_to({ action: :edit, id: employee }, class: "flex items-center border-t hover:bg-gray-100 #{employee.flagged? ? "text-gray-300 hover:text-red-600" : "text-gray-300 hover:text-blue-600"}") do %>
  <div class="w-14 px-2">
    <% if employee.selfie_url %>
      <img src="<%= employee.selfie_url %>" class="rounded-full h-10 w-10 object-cover"/>
    <% else %>
      <div class="bg-gray-300 text-gray-500 rounded-full h-10 w-10 flex items-center justify-center">
        <%= employee.initials %>
      </div>
    <% end %>
  </div>
  <div class="flex-1 px-2 py-4 text-black truncate">
    <%= employee.full_name %>
  </div>
  <div class="w-12 px-2 py-4 text-black hidden md:block xl:w-16">
    <%= employee.state %>
  </div>
  <% if current_context.daily_checkup_enabled? %>
    <div class="w-32 px-2 py-4 <%= daily_checkup_color(employee) %> hidden md:block xl:w-36">
      <%= employee.daily_checkup_status %>
    </div>
    <div class="w-28 px-2 py-4 text-black hidden lg:block">
      <%= employee.daily_checkup_updated_at %>
    </div>
    <div class="w-40 px-2 hidden xl:block">
      <% if employee.daily_checkup_need_contact? %>
        <% if employee.already_contacted? %>
          <div class="text-xs text-gray-600">
            Contacted
          </div>
        <% else %>
          <%= button_to contact_employee_path(employee), method: :patch, class: "#{secondary_button_class(:blue)} inline-flex items-center text-xs py-1 xl:px-2" do %>
            <%= render "icon/envelope", icon_class: "h-5 w-5 mr-2" %>
            Contact
          <% end %>
        <% end %>
      <% elsif employee.daily_checkup_need_reminder? %>
        <% if employee.already_sent_reminder? %>
          <div class="text-xs text-gray-600">
            Reminder sent
          </div>
        <% else %>
          <%= button_to send_reminder_employee_path(employee), method: :patch, class: "#{secondary_button_class(:blue)} inline-flex items-center text-xs py-1 xl:px-2" do %>
            <%= render "icon/date_add", icon_class: "h-5 w-5 mr-2" %>
            Send Reminder
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="w-32 px-2 py-4 text-gray-600 hidden pointer-events-none select-none md:block xl:w-36">
      Did Not Submit
    </div>
    <div class="w-28 px-2 py-4 text-gray-600 hidden pointer-events-none select-none lg:block">
      N/A
    </div>
    <div class="w-40 px-2 hidden xl:block"></div>
  <% end %>
  <% if current_context.testing_enabled? %>
    <div class="w-32 px-2 <%= testing_color(employee) %> hidden md:block xl:w-36">
      <%= employee.testing_status %>
    </div>
    <div class="w-28 px-2 py-4 text-black hidden lg:block">
      <%= employee.testing_updated_at %>
    </div>
    <div class="w-40 px-2 hidden xl:block"></div>
  <% else %>
    <div class="w-32 px-2 text-gray-600 hidden pointer-events-none select-none md:block xl:w-36">
      Not Registered
    </div>
    <div class="w-28 px-2 text-gray-600 hidden pointer-events-none select-none lg:block">
      N/A
    </div>
    <div class="w-40 px-2 hidden xl:block"></div>
  <% end %>
  <div class="pr-3 flex justify-end md:w-28 xl:w-8">
    <% if employee.flagged? %>
      <%= render "icon/exclamation_solid", icon_class: "h-4 w-4" %>
    <% else %>
      <%= render "icon/edit_pencil", icon_class: "h-4 w-4" %>
    <% end %>
  </div>
<% end %>
