<table class="table-fixed w-full mb-10 text-sm lg:table-auto">
  <thead>
    <tr class="text-left align-middle text-xs">
      <th class="w-8"></th>
      <th class="w-10 hidden md:table-cell"></th>
      <th class="px-2 font-medium">
        <%= render "employees/sort_header", column: "fullname", label: "Employee Name" %>
      </th>
      <th class="w-1 px-2 font-medium hidden lg:table-cell">
        <%= render "employees/sort_header", column: "state", label: "State" %>
      </th>
      <th class="px-2 font-medium hidden md:table-cell">
        <%= render "employees/sort_header", column: "checkup", label: "Daily Checkup" %>
      </th>
      <th class="w-1 px-2 font-medium hidden lg:table-cell">
        <%= render "employees/sort_header", column: "checkup_updated_at", label: "Last Updated" %>
      </th>
      <th class="w-32 px-2 hidden xl:table-cell"></th>
      <th class="px-2 font-medium hidden md:table-cell <%= "text-gray-600" unless current_context.testing_status_enabled? %>">
        <%= render "employees/sort_header", column: "testing", label: "Testing Status" %>
      </th>
      <th class="w-1 px-2 font-medium hidden lg:table-cell <%= "text-gray-600" unless current_context.testing_status_enabled? %>">
        <%= render "employees/sort_header", column: "testing_updated_at", label: "Last Updated" %>
      </th>
      <th class="w-32 px-2 hidden xl:table-cell"></th>
      <th class="w-8 py-3 font-medium md:w-32">
        <%== render partial: "common/pagination", locals: { pagination: search.pagination } %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% search.results.each do |employee| %>
      <%= render "employees/employee", employee: employee %>
    <% end %>
  </tbody>
</table>
