<section class="mb-10">
  <header class="flex items-center text-gray-500 text-xs font-medium">
    <div class="w-14"></div>
    <div class="flex-1 px-2">
      <%= render "employees/sort_header", column: "full_name", label: "Employee Name" %>
    </div>
    <div class="w-12 px-2 hidden md:block xl:w-16">
      <%= render "employees/sort_header", column: "state", label: "State" %>
    </div>
    <% if current_context.daily_checkup_enabled? %>
      <div class="w-32 px-2 hidden md:block xl:w-36">
        <%= render "employees/sort_header", column: "checkup", label: "Daily Checkup" %>
      </div>
      <div class="w-28 px-2 hidden lg:block">
        <%= render "employees/sort_header", column: "checkup_updated_at", label: "Last Updated" %>
      </div>
    <% else %>
      <div class="w-32 px-2 text-gray-600 whitespace-no-wrap pointer-events-none select-none hidden md:block xl:w-36">
        Daily Checkup
      </div>
      <div class="w-28 px-2 text-gray-600 whitespace-no-wrap pointer-events-none select-none hidden lg:block">
        Last Updated
      </div>
    <% end %>
    <div class="w-40 px-2 hidden xl:block"></div>
    <% if current_context.testing_enabled? %>
      <div class="w-32 px-2 hidden md:block xl:w-36">
        <%= render "employees/sort_header", column: "testing", label: "Testing Status" %>
      </div>
      <div class="w-28 px-2 hidden lg:block xl:w-24">
        <%= render "employees/sort_header", column: "testing_updated_at", label: "Last Updated" %>
      </div>
    <% else %>
      <div class="w-32 px-2 text-gray-600 whitespace-no-wrap pointer-events-none select-none hidden md:block xl:w-36">
        Testing Status
      </div>
      <div class="w-28 px-2 text-gray-600 whitespace-no-wrap pointer-events-none select-none hidden lg:block xl:w-24">
        Last Updated
      </div>
    <% end %>
    <div class="md:w-28 xl:w-52">
      <%== render partial: "common/pagination", locals: { pagination: search.pagination } %>
    </div>
  </header>
  <% search.results.each do |employee| %>
    <%= render "employees/employee", employee: employee %>
  <% end %>
</section>
