<%= render "common/backdrop", container_class: "h-full" do %>
  <div class="bg-white text-black shadow-2xl p-4 md:max-w-xl md:mx-auto md:p-8 lg:max-w-2xl lg:p-12 h-full overflow-y-scroll">
    <%= render "common/link_to_back", default_url: edit_employee_path(health_passport) %>
    <div class="bg-blue-gradient text-white font-medium rounded-lg relative mt-10 p-4">
      <div class="relative z-10 lg:flex">
        <% if health_passport.selfie_url %>
          <img src="<%= health_passport.selfie_url %>" class="rounded object-cover mb-2 lg:w-56 lg:h-64 lg:m-4"/>
        <% else %>
          <div class="bg-gray-300 rounded h-64 text-6xl tracking-widest text-gray-400 flex items-center justify-center lg:w-56 lg:m-4">
            <%= health_passport.initials %>
          </div>
        <% end %>
        <div class="flex-1 lg:m-4">
          <h1 class="text-xl font-bold mb-4"><%= health_passport.full_name %></h1>
          <div class="flex items-center mb-5">
            <% if health_passport.identity_verified? %>
              <%= render "icon/checkmark", icon_class: "text-green-500 h-6 w-6 mr-4" %>
              ID Verified
            <% else %>
              <%= render "icon/close_outline", icon_class: "text-red-500 h-6 w-6 mr-4" %>
              ID Not Verified
            <% end %>
          </div>
          <p class="text-xs">Daily symptoms</p>
          <p class="text-xs mb-4">Last Checked: <%= health_passport.daily_checkup_updated_at %></p>
          <p class="text-xs mb-4">Last Tested: <%= health_passport.testing_updated_at %></p>
          <% if health_passport.cleared? %>
            <div class="uppercase p-4 text-center font-bold tracking-widest bg-green-500">Cleared</div>
          <% else %>
            <div class="uppercase p-4 text-center font-bold tracking-widest bg-red-500">Not Cleared</div>
          <% end %>
        </div>
      </div>
      <div class="absolute top-0 left-0 bottom-0 right-0 bg-fingerprints"></div>
    </div>
    <div class="lg:m-8">
      <h3 class="text-blue-500 text-2xl font-medium tracking-wide m-6">Summary</h3>
      <div class="flex items-center border-t border-b border-blue-500 py-6 lg:px-6">
        <% if health_passport.identity_verified? %>
          <div>
            <%= render "icon/document_add", icon_class: "text-green-500 h-6 w-6" %>
          </div>
          <div class="flex-1 text-xs font-light px-6">
            This person is immune and does not require monitoring
          </div>
          <div>
            <%= render "icon/checkmark", icon_class: "text-green-500 h-6 w-6" %>
          </div>
        <% else %>
          <div>
            <%= render "icon/document_add", icon_class: "text-red-500 h-6 w-6" %>
          </div>
          <div class="flex-1 text-xs font-light px-2 lg:px-6">
            This person is NOT immune and DOES require monitoring
          </div>
          <div>
            <%= render "icon/close_outline", icon_class: "text-red-500 h-6 w-6" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
