<%= render "common/main" do %>
  <%= render "employees/dashboard" %>
  <%= render "common/backdrop" do %>
    <div class="bg-white text-black shadow-2xl p-4 md:max-w-xl md:mx-auto md:p-8">
      <%= render "common/link_to_back", default_url: { action: :index } %>
      <h2 class="font-semibold clear-both">
        Please match your fields to the sample below.
      </h2>
      <div>
        Upload type accepted:
        <a href="/employee_bulk_import/sample.txt" class="hover:text-blue-500" target="_blank" rel="noopener noreferrer" download>Unicode Text (.txt)</a>,
        <a href="/employee_bulk_import/sample.csv" class="hover:text-blue-500" target="_blank" rel="noopener noreferrer" download>Comma-separated values (.csv)</a> or
        <a href="/employee_bulk_import/sample.tsv" class="hover:text-blue-500" target="_blank" rel="noopener noreferrer" download>Tab-separated values (.tsv)</a>
      </div>
      <%= form_tag employees_path, multipart: true, autocomplete: "off", class: "flex flex-col items-start mt-4 -mx-2 md:-mx-4 md:flex-row" do %>
        <a href="/employee_bulk_import/sample.txt" class="<%= secondary_button_class(:blue) %> flex items-center mb-4 mx-2 md:mx-4" target="_blank" rel="noopener noreferrer" download>
          <%= render "icon/arrow_outline_down", icon_class: "h-3 w-3 mr-2" %>
          <span>Download Sample</span>
        </a>
        <button type="button" class="<%= secondary_button_class(:blue) %> flex items-center mb-4 mx-2 md:mx-4 overflow-hidden relative cursor-default select-none">
          <%= render "icon/arrow_outline_up", icon_class: "h-3 w-3 mr-2" %>
          <span>Upload File</span>
          <%= file_field_tag :file, class: "cursor-pointer absolute block opacity-0 left-0 top-0 w-full h-full" %>
        </button>
      <% end %>
    </div>
  <% end %>
<% end %>
