<%= render "common/main" do %>
  <%= render "employees/dashboard" %>
  <%= render "common/backdrop" do %>
    We accept 3 formats:
    <a href="/employee_bulk_import/sample.csv" target="_blank" rel="noopener noreferrer" download>Comma-separated values (.csv)</a>,
    <a href="/employee_bulk_import/sample.tsv" target="_blank" rel="noopener noreferrer" download>Tab-separated values (.tsv)</a>,
    <a href="/employee_bulk_import/sample.txt" target="_blank" rel="noopener noreferrer" download>Unicode Text (.txt)</a>

    CSV import:
    <%= form_tag employees_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>
  <% end %>
<% end %>
