<%= render "common/main" do %>
  <%= render "common/gradient_with_fingerprints" do %>
    <h1 class="text-xl font-semibold py-1 leading-none tracking-wide md:text-3xl">Employee Details</h1>
  <% end %>
  <div class="container mx-auto px-4">
    <div class="-mx-4 mb-4 md:mb-8 xl:my-4 xl:flex">
      <div class="p-4 border-b border-blue-500 xl:border-none xl:flex-1 xl:mr-2 xl:shadow">
        <%= render "employees/testing_progress" %>
      </div>
      <div class="p-4 border-b border-blue-500 xl:border-none xl:flex-1 xl:ml-2 xl:shadow">
        <%= render "employees/testing_progress" %>
      </div>
    </div>
    <h2 class="text-3xl font-thin mt-4">
      Review, edit or deactivate an employee's account
    </h2>
    <p class="text-sm font-medium mb-10">A deactivated employee will still be saved in the system for reference or available if you need to reactivate the account.</p>
    <%= render "employees/form" %>
  </div>
<% end %>
