<%= render "common/main" do %>
  <%= render "employees/dashboard" %>
  <% if employees.empty? %>
    <%= render "common/backdrop" do %>
      <h1 class="text-3xl font-medium">
        Welcome <%= current_context.account.first_name %>!
      </h1>
      <div class="text-2xl">Start by adding employees individually or via bulk upload.</div>
      <div class="mt-4 md:text-right xl:-mt-8">
        <%= render "common/link_with_icon", link_class: "mr-4 md:mr-0", url_options: {action: :new}, icon: "add_outline", label: "Add New" %>
        <%= render "common/link_with_icon", link_class: "md:ml-4", url_options: {action: :bulk_import}, icon: "add_outline", label: "Bulk Upload" %>
      </div>
    <% end %>
  <% end %>
<% end %>
