<%= render "common/main" do %>
  <%= render "employees/dashboard" %>
  <% if employees.empty? %>
    <%= render "common/backdrop" do %>
      <h1 class="text-3xl font-medium">
        Welcome <%= current_context.account.first_name %>!
      </h1>
      <div class="text-2xl">Start by adding employees individually or via bulk upload.</div>
      <div class="mt-4 md:text-right xl:-mt-8">
        <%= render "employees/link_add", url_options: {action: :new}, label: "Add New" %>
        <%= render "employees/link_add", url_options: {action: :bulk_import}, label: "Bulk Upload" %>
      </div>
    <% end %>
  <% end %>
<% end %>
