<li class="mb-4">
  <div class="flex items-center">
    <div class="w-6 h-6 flex items-center justify-center rounded-full border border-black text-sm leading-none font-normal">
      <%= index+1 %>
    </div>
    <div class="ml-4"><%= entry.question %></div>
  </div>
  <div class="pl-10">
    <% if entry.type_list? %>
      <ul class="md:flex md:align-center font-medium -mx-2">
        <% entry.options.each do |option| %>
          <% if option==entry.response %>
            <li class="flex-1 text-center m-2 py-1 bg-orange-600 text-white"><%= option %></li>
          <% elsif option=="Yes" %>
            <li class="flex-1 text-center m-2 py-1 border border-blue-500 text-blue-500"><%= option %></li>
          <% else %>
            <li class="flex-1 text-center m-2 py-1 border text-gray-500"><%= option %></li>
          <% end %>
        <% end %>
      </ul>
    <% else # entry.type_date? or entry.type_text? %>
      <div class="my-2 p-2 border border-black"><%= entry.response %></div>
    <% end %>
  </div>
</li>
