<%= render "common/main" do %>
  <%= render "employees/edit", editor: search.employee_editor %>
  <%= render "common/backdrop", container_class: "h-full" do %>
    <div class="bg-white text-black shadow-2xl p-4 md:max-w-xl md:mx-auto md:p-8 lg:max-w-2xl lg:p-12 h-full overflow-y-scroll">
      <h2 class="text-3xl font-medium mb-8">
        <%= render "common/link_to_back", default_url: employee_path(search.employee_editor) %>
        symptom log <span class="font-light">from <%= search.date %></span>
      </h2>
      <ul class="text-xl font-thin">
        <% search.results.each_with_index do |entry, index| %>
          <%= render "symptom_logs/entry", entry: entry, index: index %>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
