<%= render "admin/common/top_nav_container" do %>
  <%= render "admin/common/top_nav_item", title: "Dashboard", path: admin_root_path %>
<% end %>
<% if current_context.sync_connected? %>
  <%= render "admin/common/title", title: "Daily Checkup Status" %>
  <div class="flex flex-wrap">
    <div class="w-full p-5 xl:w-1/3 3xl:w-1/6">
      <%= link_to(admin_employees_path(filters: { daily_checkup_status_equals: "Cleared" }), class: "block bg-green-100 border-b-4 border-green-600 rounded-lg shadow-lg hover:shadow p-3") do %>
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded-full p-3 bg-green-600">
              <%= render "icon/checkmark", icon_class: "text-white h-5 w-5" %>
            </div>
          </div>
          <div class="flex-1 text-center">
            <h5 class="font-bold uppercase text-green-600">No Symptoms</h5>
            <h3 class="font-bold text-3xl">
              <%= dashboard_stats.no_symptoms_count %>
            </h3>
          </div>
        </div>
      <% end %>
    </div>
    <div class="w-full p-5 xl:w-1/3 3xl:w-1/6">
      <%= link_to(admin_employees_path(filters: { daily_checkup_status_equals: "Not Cleared" }), class: "block bg-red-100 border-b-4 border-red-600 rounded-lg shadow-lg hover:shadow p-3") do %>
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded-full p-3 bg-red-600">
              <%= render "icon/exclamation_solid", icon_class: "text-white h-5 w-5" %>
            </div>
          </div>
          <div class="flex-1 text-center">
            <h5 class="font-bold uppercase text-red-600">Symptoms</h5>
            <h3 class="font-bold text-3xl">
              <%= dashboard_stats.symptoms_count %>
            </h3>
          </div>
        </div>
      <% end %>
    </div>
    <div class="w-full p-5 xl:w-1/3 3xl:w-1/6">
      <%= link_to(admin_employees_path(filters: { daily_checkup_status_equals: "Did Not Submit" }), class: "block bg-blue-100 border-b-4 border-blue-600 rounded-lg shadow-lg hover:shadow p-3") do %>
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded-full p-3 bg-blue-600">
              <%= render "icon/timer", icon_class: "text-white h-5 w-5" %>
            </div>
          </div>
          <div class="flex-1 text-center">
            <h5 class="font-bold uppercase text-blue-600">Did Not Submit</h5>
            <h3 class="font-bold text-3xl">
              <%= dashboard_stats.did_not_submit_count %>
            </h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "admin/common/title", title: "Testing Status" %>
  <div class="flex flex-wrap">
    <div class="w-full p-5 xl:w-1/3 3xl:w-1/6">
      <%= link_to(admin_employees_path(filters: { testing_status_equals: "Cleared" }), class: "block bg-green-100 border-b-4 border-green-600 rounded-lg shadow-lg hover:shadow p-3") do %>
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded-full p-3 bg-green-600">
              <%= render "icon/checkmark", icon_class: "text-white h-5 w-5" %>
            </div>
          </div>
          <div class="flex-1 text-center">
            <h5 class="font-bold uppercase text-green-600">Cleared</h5>
            <h3 class="font-bold text-3xl">
              <%= dashboard_stats.cleared_count %>
            </h3>
          </div>
        </div>
      <% end %>
    </div>
    <div class="w-full p-5 xl:w-1/3 3xl:w-1/6">
      <%= link_to(admin_employees_path(filters: { testing_status_equals: "Inconclusive" }), class: "block bg-red-100 border-b-4 border-red-600 rounded-lg shadow-lg hover:shadow p-3") do %>
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded-full p-3 bg-red-600">
              <%= render "icon/exclamation_solid", icon_class: "text-white h-5 w-5" %>
            </div>
          </div>
          <div class="flex-1 text-center">
            <h5 class="font-bold uppercase text-red-600">Inconclusive</h5>
            <h3 class="font-bold text-3xl">
              <%= dashboard_stats.inconclusive_count %>
            </h3>
          </div>
        </div>
      <% end %>
    </div>
    <div class="w-full p-5 xl:w-1/3 3xl:w-1/6">
      <%= link_to(admin_employees_path(filters: { testing_status_equals: "Submitted Results" }), class: "block bg-blue-100 border-b-4 border-blue-600 rounded-lg shadow-lg hover:shadow p-3") do %>
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded-full p-3 bg-blue-600">
              <%= render "icon/timer", icon_class: "text-white h-5 w-5" %>
            </div>
          </div>
          <div class="flex-1 text-center">
            <h5 class="font-bold uppercase text-blue-600">Submitted Results</h5>
            <h3 class="font-bold text-3xl">
              <%= dashboard_stats.submitted_results_count %>
            </h3>
          </div>
        </div>
      <% end %>
    </div>
    <div class="w-full p-5 xl:w-1/3 3xl:w-1/6">
      <%= link_to(admin_employees_path(filters: { testing_status_equals: "Intake" }), class: "block bg-blue-100 border-b-4 border-blue-600 rounded-lg shadow-lg hover:shadow p-3") do %>
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded-full p-3 bg-blue-600">
              <%= render "icon/timer", icon_class: "text-white h-5 w-5" %>
            </div>
          </div>
          <div class="flex-1 text-center">
            <h5 class="font-bold uppercase text-blue-600">Intake</h5>
            <h3 class="font-bold text-3xl">
              <%= dashboard_stats.intake_count %>
            </h3>
          </div>
        </div>
      <% end %>
    </div>
    <div class="w-full p-5 xl:w-1/3 3xl:w-1/6">
      <%= link_to(admin_employees_path(filters: { testing_status_equals: "Registered" }), class: "block bg-blue-100 border-b-4 border-blue-600 rounded-lg shadow-lg hover:shadow p-3") do %>
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded-full p-3 bg-blue-600">
              <%= render "icon/timer", icon_class: "text-white h-5 w-5" %>
            </div>
          </div>
          <div class="flex-1 text-center">
            <h5 class="font-bold uppercase text-blue-600">Registered</h5>
            <h3 class="font-bold text-3xl">
              <%= dashboard_stats.registered_count %>
            </h3>
          </div>
        </div>
      <% end %>
    </div>
    <div class="w-full p-5 xl:w-1/3 3xl:w-1/6">
      <%= link_to(admin_employees_path(filters: { testing_status_equals: "Not Registered" }), class: "block bg-blue-100 border-b-4 border-blue-600 rounded-lg shadow-lg hover:shadow p-3") do %>
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded-full p-3 bg-blue-600">
              <%= render "icon/timer", icon_class: "text-white h-5 w-5" %>
            </div>
          </div>
          <div class="flex-1 text-center">
            <h5 class="font-bold uppercase text-blue-600">Not Registered</h5>
            <h3 class="font-bold text-3xl">
              <%= dashboard_stats.not_registered_count %>
            </h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="text-red-600">
    <%= render "admin/common/title", title: "Sync isn't connected." %>
  </div>
<% end %>
<%= render "admin/common/title", title: "Companies" %>
<div class="flex flex-wrap">
  <div class="w-full p-5 xl:w-1/3 3xl:w-1/6">
    <%= link_to admin_plans_path, class: "block bg-yellow-100 border-b-4 border-yellow-600 rounded-lg shadow-lg hover:shadow p-3" do %>
      <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
          <div class="rounded-full p-3 bg-yellow-600">
            <%= render "icon/currency_dollar", icon_class: "text-white h-5 w-5" %>
          </div>
        </div>
        <div class="flex-1 text-center">
          <h5 class="font-bold uppercase text-yellow-600">Plans</h5>
          <h3 class="font-bold text-3xl">
            <%= dashboard_stats.plan_count %>
          </h3>
        </div>
      </div>
    <% end %>
  </div>
  <div class="w-full p-5 xl:w-1/3 3xl:w-1/6">
    <%= link_to admin_companies_path, class: "block bg-yellow-100 border-b-4 border-yellow-600 rounded-lg shadow-lg hover:shadow p-3" do %>
      <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
          <div class="rounded-full p-3 bg-yellow-600">
            <%= render "icon/factory", icon_class: "text-white h-5 w-5" %>
          </div>
        </div>
        <div class="flex-1 text-center">
          <h5 class="font-bold uppercase text-yellow-600">Companies</h5>
          <h3 class="font-bold text-3xl">
            <%= dashboard_stats.company_count %>
          </h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render "admin/common/title", title: "Users" %>
<div class="flex flex-wrap">
  <div class="w-full p-5 xl:w-1/3 3xl:w-1/6">
    <%= link_to admin_employers_path, class: "block bg-yellow-100 border-b-4 border-yellow-600 rounded-lg shadow-lg hover:shadow p-3" do %>
      <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
          <div class="rounded-full p-3 bg-yellow-600">
            <%= render "icon/shield", icon_class: "text-white h-5 w-5" %>
          </div>
        </div>
        <div class="flex-1 text-center">
          <h5 class="font-bold uppercase text-yellow-600">Employers</h5>
          <h3 class="font-bold text-3xl">
            <%= dashboard_stats.employer_count %>
          </h3>
        </div>
      </div>
    <% end %>
  </div>
  <div class="w-full p-5 xl:w-1/3 3xl:w-1/6">
    <%= link_to admin_employees_path, class: "block bg-yellow-100 border-b-4 border-yellow-600 rounded-lg shadow-lg hover:shadow p-3" do %>
      <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
          <div class="rounded-full p-3 bg-yellow-600">
            <%= render "icon/user", icon_class: "text-white h-5 w-5" %>
          </div>
        </div>
        <div class="flex-1 text-center">
          <h5 class="font-bold uppercase text-yellow-600">Employees</h5>
          <h3 class="font-bold text-3xl">
            <%= dashboard_stats.employee_count %>
          </h3>
        </div>
      </div>
    <% end %>
  </div>
  <div class="w-full p-5 xl:w-1/3 3xl:w-1/6">
    <%= link_to admin_users_path, class: "block bg-yellow-100 border-b-4 border-yellow-600 rounded-lg shadow-lg hover:shadow p-3" do %>
      <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
          <div class="rounded-full p-3 bg-yellow-600">
            <%= render "icon/key", icon_class: "text-white h-5 w-5" %>
          </div>
        </div>
        <div class="flex-1 text-center">
          <h5 class="font-bold uppercase text-yellow-600">Admin users</h5>
          <h3 class="font-bold text-3xl">
            <%= dashboard_stats.admin_user_count %>
          </h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render "admin/common/title", title: "Email" %>
<div class="flex flex-wrap">
  <div class="w-full p-5 xl:w-1/3 3xl:w-1/6">
    <%= link_to admin_email_templates_path, class: "block bg-yellow-100 border-b-4 border-yellow-600 rounded-lg shadow-lg hover:shadow p-3" do %>
      <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
          <div class="rounded-full p-3 bg-yellow-600">
            <%= render "icon/news_paper", icon_class: "text-white h-5 w-5" %>
          </div>
        </div>
        <div class="flex-1 text-center">
          <h5 class="font-bold uppercase text-yellow-600">Email templates</h5>
          <h3 class="font-bold text-3xl">
            <%= dashboard_stats.email_template_count %>
          </h3>
        </div>
      </div>
    <% end %>
  </div>
  <div class="w-full p-5 xl:w-1/3 3xl:w-1/6">
    <%= link_to admin_email_logs_path, class: "block bg-yellow-100 border-b-4 border-yellow-600 rounded-lg shadow-lg hover:shadow p-3" do %>
      <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
          <div class="rounded-full p-3 bg-yellow-600">
            <%= render "icon/envelope", icon_class: "text-white h-5 w-5" %>
          </div>
        </div>
        <div class="flex-1 text-center">
          <h5 class="font-bold uppercase text-yellow-600">Sent emails</h5>
          <h3 class="font-bold text-3xl">
            <%= dashboard_stats.email_log_count %>
          </h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
