<div class="flex">
  <div class="w-1/3">
    <div class="text-black font-medium mt-16 mb-4">Compatible merge tags:</div>
    <ul class="mb-4" data-linked-to-id="email_template_trigger_key" data-linked-to-value="employer_new">
      <%= render "admin/email_templates/placeholder", code: "employer_first_name", label: "Employer first name" %>
      <%= render "admin/email_templates/placeholder", code: "employer_last_name", label: "Employer last name" %>
      <%= render "admin/email_templates/placeholder", code: "employer_email", label: "Employer email" %>
      <%= render "admin/email_templates/placeholder", code: "employer_password", label: "Employer password" %>
    </ul>
    <ul class="mb-4" data-linked-to-id="email_template_trigger_key" data-linked-to-value="employer_password_forgotten">
      <%= render "admin/email_templates/placeholder", code: "employer_first_name", label: "Employer first name" %>
      <%= render "admin/email_templates/placeholder", code: "employer_last_name", label: "Employer last name" %>
      <%= render "admin/email_templates/placeholder", code: "employer_email", label: "Employer email" %>
      <%= render "admin/email_templates/placeholder", code: "employer_reset_password_token", label: "Employer password reset token (for the Employer Portal)" %>
    </ul>
    <ul class="mb-4" data-linked-to-id="email_template_trigger_key" data-linked-to-value="employee_new">
      <%= render "admin/email_templates/placeholder", code: "employee_full_name", label: "Employee full name" %>
      <%= render "admin/email_templates/placeholder", code: "employee_email", label: "Employee email" %>
      <%= render "admin/email_templates/placeholder", code: "employee_reset_password_token", label: "Employee password reset token (for the Connect Portal)" %>
      <%= render "admin/email_templates/placeholder", code: "employer_first_name", label: "Employer (who invited the employee) first name" %>
      <%= render "admin/email_templates/placeholder", code: "employer_last_name", label: "Employer (who invited the employee) last name" %>
      <%= render "admin/email_templates/placeholder", code: "employer_email", label: "Employer (who invited the employee) email" %>
    </ul>
    <ul class="mb-4" data-linked-to-id="email_template_trigger_key" data-linked-to-value="employee_contact">
      <%= render "admin/email_templates/placeholder", code: "employee_full_name", label: "Employee full name" %>
      <%= render "admin/email_templates/placeholder", code: "daily_checkup_status", label: "Employee daily checkup status" %>
    </ul>
    <ul class="mb-4" data-linked-to-id="email_template_trigger_key" data-linked-to-value="employee_reminder">
      <%= render "admin/email_templates/placeholder", code: "employee_full_name", label: "Employee full name" %>
      <%= render "admin/email_templates/placeholder", code: "daily_checkup_status", label: "Employee daily checkup status" %>
    </ul>
  </div>
  <div class="w-2/3 pl-10">
    <div class="flex justify-between mb-4">
      <div>
        <div id="toggle-format" class="inline-flex">
          <a class="bg-gray-500 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l cursor-pointer">
            HTML
          </a>
          <a class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r cursor-pointer">
            Text
          </a>
        </div>
      </div>
      <div id="html-help" class="relative flex">
        <a href="https://www.campaignmonitor.com/css/" target="_blank" rel="noopener noreferrer" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded flex items-center justify-center mr-4" title="Guide: what part of CSS can actually be used in emails?">
          <%= render "icon/question", icon_class: "w-4 h-4" %>
        </a>
        <div id="toggle-preview" class="inline-flex">
          <a class="bg-gray-500 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l cursor-pointer">
            Code
          </a>
          <a class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r cursor-pointer">
            Preview
          </a>
        </div>
      </div>
    </div>
    <%= render "form/textarea", form: form, column: :html, label: false, codemirror: "htmlmixed" %>
    <%= render "form/textarea", form: form, column: :text, label: false, codemirror: "null" %>
    <iframe id="html-preview" class="w-full border overflow-y-scroll hidden" style="height:302px"></iframe>
  </div>
</div>
