<tr class="border-t align-middle text-center">
  <td class="py-1 whitespace-no-wrap"><%= symptom_log.log_date %></td>
  <td class="py-1">
    <% if symptom_log.flagged == 1 %>
      <%= render "icon/exclamation_solid", icon_class: "h-4 w-4 text-orange-500 mx-auto" %>
    <% end %>
  </td>
  <td class="py-1 hidden md:table-cell <%= temperature_color(symptom_log) %>"><%= symptom_log.temperature %></td>
  <% if symptom_log.symptoms == 1 %>
    <td class="py-1 hidden md:table-cell text-red-600">Yes</td>
  <% else %>
    <td class="py-1 hidden md:table-cell">No</td>
  <% end %>
  <td class="py-1 text-right">
    <%= link_to "View Details", employee_symptom_log_path(employee, symptom_log.log_date), class: thin_button_class %>
  </td>
</tr>
