<div id="symptom-tracker" class="px-4 py-10 border-t border-b border-blue-500 md:py-4 xl:border-none xl:flex-1 xl:mr-5 xl:shadow">
  <div class="md:w-full md:h-48 md:overflow-hidden">
    <h3 class="text-2xl font-medium relative">
      Symptom Tracker <span class="whitespace-no-wrap">at-a-glance</span>
      <div class="flex justify-end mb-4 md:block">
        <%= form_for search.filters, as: :filters, url: edit_employee_path(id: search.employee), method: :get, html: { class: "md:absolute md:top-0 md:right-0 text-base font-normal select-none", autocomplete: "off" } do |f| %>
          <%= hidden_field_tag :page, nil %>
          <div class="relative overflow-hidden hover:text-black <%= f.object.empty? ? "text-gray-300" : "text-black" %>">
            <%= f.text_field :date_equals, type: :date, class: "w-48 border-2 border-gray-300 bg-white leading-6 pl-3 appearance-none focus:outline-none focus:border-gray-500 #{f.object.empty? ? "pr-8" : "pr-14"}", data: { auto_submit: true } %>
            <div class="absolute top-0 bottom-0 right-0 flex items-center mr-2 text-blue-500 pointer-events-none">
              <%= render "icon/calendar", icon_class: "h-4 w-4" %>
            </div>
          </div>
          <% unless f.object.empty? %>
            <%= link_to edit_employee_path(id: search.employee, filters: nil, page: nil), class: "absolute top-0 right-0 h-full w-6 mr-6 flex items-center justify-center text-gray-500 box-content focus:outline-none hover:text-black" do %>
              <%= render "icon/close", icon_class: "h-4 w-4" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </h3>
    <table class="table-auto w-full text-xs">
      <thead>
        <tr class="align-middle">
          <th class="w-1 p-1 font-normal whitespace-no-wrap">Date Logged</th>
          <th class="p-1 font-normal">Flagged</th>
          <th class="p-1 font-normal hidden md:table-cell">Temperature</th>
          <th class="p-1 font-normal hidden md:table-cell">Symptoms</th>
          <th class="w-1 font-normal md:w-32">
            <%== render partial: "common/pagination", locals: { pagination: search.pagination } %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% search.results.each do |symptom_log| %>
          <%= render "symptom_tracker/symptom_log", employee: search.employee, symptom_log: symptom_log %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
