<header class="h-24">
  <div class="container mx-auto px-4 h-full flex items-center justify-between">
    <%= link_to root_path, id: "home", data: { "turbolinks-permanent": true } do %>
      <%= image_pack_tag "lockup.svg", alt: "Essential Health Passport", class: "h-12" %>
    <% end %>
    <nav class="xl:text-lg xl:tracking-wide">
      <% if current_context.signed_in? %>
        <ul class="ml-auto flex items-center select-none">
          <li class="hidden m-3 <%= controller_name == "employees" ? "text-blue-500 font-semibold" : "text-blue-400" %> lg:block">
            <%= link_to "Dashboard", employees_path %>
          </li>
          <li class="hidden m-3 text-blue-400 lg:block"><a href="#">Your Plan</a></li>
          <li class="hidden m-3 text-blue-400 lg:block"><a href="#">COVID-19 Guidelines</a></li>
          <li class="hidden m-3 text-blue-400 lg:block"><a href="#">Support</a></li>
          <li id="signout" class="ml-3" data-turbolinks-permanent>
            <%= link_to sessions_path, method: :delete, data: { turbolinks: "false" } do %>
              <%= image_pack_tag "icon-account.svg", alt: "My account", class: "inline-block max-w-none" %>
            <% end %>
          </li>
        </ul>
      <% else %>
        <ul class="ml-auto">
          <li><%= image_pack_tag "icon-account.svg", alt: "My account", class: "inline-block max-w-none" %></li>
        </ul>
      <% end %>
    </nav>
  </div>
</header>
