<% link = pagy_link_proc(pagination) -%>
<nav class="flex justify-end items-center select-none">
  <div class="mr-1 whitespace-no-wrap"><strong><%= pagination.from %>-<%= pagination.to %></strong>&nbsp;of <%= pagination.count %></div>
  <div class="page prev <%= pagination.prev ? "text-gray-500" : "text-gray-300 pointer-events-none" %>">
    <%== link.call(pagination.prev, render("icon/cheveron_left", icon_class: "h-6 w-6"), "data-persist-scroll") %>
  </div>
  <div class="page next <%= pagination.next ? "text-gray-500" : "text-gray-300 pointer-events-none" %>">
    <%== link.call(pagination.next, render("icon/cheveron_right", icon_class: "h-6 w-6"), "data-persist-scroll") %>
  </div>
</nav>
