<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Employer Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <%= stylesheet_pack_tag "application", media: "all" %>
    <%= javascript_pack_tag "application" %>
  </head>
  <body>
    <% if content_for? :modal %>
      <div class="fixed w-full min-h-screen -z-10">
        <%= yield %>
      </div>
      <%= render "common/backdrop" do %>
        <%= yield :modal %>
      <% end %>
    <% else %>
      <%= yield %>
    <% end %>
    <% if current_context.with_overrides? %>
      <link rel="stylesheet" href="<%= overrides_company_path id: current_context.company, format: :css, t: current_context.timestamp %>">
    <% end %>
  </body>
</html>
